*
!.gitignore
!sh
!sh/shell.c
!fs
!fs/ramfs.c
!Makefile
!include
!include/ramfs.h
!include/shell.h
!main.c
!README.md
!README.pdf
!.vscode
!.vscode/c_cpp_properties.json
!.vscode/launch.json
!.vscode/tasks.json